<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>dummy-client-id</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.dummy</string>
	<key>API_KEY</key>
	<string>AIzaSyDummy-API-Key-Replace-With-Real-One</string>
	<key>GCM_SENDER_ID</key>
	<string>123456789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LoveConnect</string>
	<key>PROJECT_ID</key>
	<string>loveconnect-dummy</string>
	<key>STORAGE_BUCKET</key>
	<string>loveconnect-dummy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789:ios:dummy123456789</string>
	<key>DATABASE_URL</key>
	<string>https://loveconnect-dummy-default-rtdb.firebaseio.com</string>
</dict>
</plist>
